<!-- Include Bootstrap CSS in your HTML head -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
/>
<div class="row"><h1>Trending Items</h1></div>
<p>All the items that are currently trending in the PPG group on facebook</p>
<!-- HTML -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4060</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4090</h5>
          <p class="card-text">24 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row"><h1>Items on Sale</h1></div>

<!-- HTML -->
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4070</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4060</h5>
          <p class="card-text">12 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card" style="width: 18rem">
        <img
          class="card-img-top"
          src="https://tpucdn.com/gpu-specs/images/c/3924-front.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Rtx 4090</h5>
          <p class="card-text">24 GB Vram 12000 cuda cores.</p>
          <a href="#" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>
</div>
