<!-- Drawer component on Homepage -->
<!-- Drawer component on Homepage -->
<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-start">
      <button title="drawer" type="button" class="btn btn-light drawer-button" (click)="toggleDrawer()">
        <div class="hamburger-icon">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </button>
      <app-drawerpage></app-drawerpage>
    </div>
  </div>
</div>



<!-- Homepage Head Component on Homepage -->
<app-hometitle></app-hometitle>

<!-- Main Content Area -->
<div class="container">
  <h1>Trending Product List</h1>
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <div class="card mb-4 hover-card">
        <img
          class="card-img-top fixed-image"
          [src]="product.image_url"
          alt="{{ product.name }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">Price: {{ "$" + product.price }}</p>
          <button
            (click)="viewProduct(product.id)"
            class="btn btn-primary view-btn"
          >
            View
          </button>
          <br />
          <br />
          <button
            (click)="addtoCart(product.id)"
            class="btn btn-primary cart-btn"
          >
            Add to cart
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
