<!-- Drawer component on Homepage -->
<!-- Drawer component on Homepage -->
<div class="container">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-start">
      <button title="drawer" type="button" class="btn btn-light drawer-button" (click)="toggleDrawer()">
        <div class="hamburger-icon">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </button>
      <p>More Options</p>
      <app-drawerpage></app-drawerpage>
    </div>
  </div>
</div>



<!-- Homepage Head Component on Homepage -->
<app-hometitle></app-hometitle>

<!-- Main Content Area -->
<!-- Main Content Area -->
<div class="container mt-4">
  <h1 class="text-center mb-4">Trending Product List</h1>
  <div class="scrollable-container">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4" *ngFor="let product of products">
        <div class="card shadow-sm hover-card">
          <img
            class="card-img-top"
            [src]="product.image_url"
            alt="{{ product.name }}"
          />
          <div class="card-body text-center">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text mb-3">Price: {{ "$" + product.price }}</p>
            <button
              (click)="viewProduct(product.id)"
              class="btn btn-primary view-btn mb-2"
            >
              View
            </button>
            <button
              (click)="addtoCart(product.id)"
              class="btn btn-success cart-btn"
            >
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class = "container">Important News</div>
