/* Reset. */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

/* Panels. */
.splitview {
  position: relative;
  width: 100%;
  min-height: 45vw;
  overflow: hidden;
}

.panel {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  overflow: hidden;
}

.panel .content {
  position: absolute;
  width: 100vw;
  min-height: 45vw;
  color: #FFF;
  display: flex;
  justify-content: space-between; /* Ensure space is distributed between text sections and image */
  align-items: center;
}

.panel .description {
  color: white; /* Ensure text color is readable */
  width: 25%; /* Adjust width as needed */
  padding: 0 20px; /* Add padding to ensure text does not touch edges */
}

.panel img {
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.15);
  width: 30%; /* Adjust this value based on your needs */
  height: auto; /* Maintains aspect ratio */
  display: block; /* Ensures image is treated as a block element */
  margin: auto; /* Centers the image horizontally */
}


.bottom {
  background-color: rgb(44, 44, 44);
  z-index: 1;
}

.bottom .description.left {
  margin-left: 5%;
}

.bottom .description.right {
  margin-right: 5%;
}

.top {
  background-color: rgb(77, 69, 173);
  z-index: 2;
  width: 50vw;
}

.top .description.left {
  margin-left: 5%;
}

.top .description.right {
  margin-right: 5%;
}

/* Handle. */
.handle {
  height: 100%;
  position: absolute;
  display: block;
  background-color: rgb(253, 171, 0);
  width: 5px;
  top: 0;
  left: 50%;
  z-index: 3;
}

/* Skewed. */
.skewed .handle {
  top: 50%;
  transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
  -moz-transform-origin: top;
  transform-origin: top;
}

.skewed .top {
  transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(50vw + 1000px);
}

.skewed .top .content {
  transform: skew(30deg);
  margin-left: 1000px;
}

/* Responsive. */
@media (max-width: 900px) {
  body {
    font-size: 75%;
  }
}
