<footer class="footer">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-between p-4 social-media-section">
    <!-- Left -->
    <div class="me-5">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Right -->
    <div>
      <a href="https://www.facebook.com/" class="text-white me-4" target="_blank" rel="noopener">
        <img src="assets/facebook-icon.png" alt="Facebook">
      </a>
      <a href="https://twitter.com/" class="text-white me-4" target="_blank" rel="noopener">
        <img src="assets/twitter-icon.png" alt="Twitter">
      </a>
      <a href="https://www.google.com/" class="text-white me-4" target="_blank" rel="noopener">
        <img src="assets/google-icon.png" alt="Google">
      </a>
      <a href="https://www.instagram.com/" class="text-white me-4" target="_blank" rel="noopener">
        <img src="assets/instagram-icon.png" alt="Instagram">
      </a>
      <a href="https://www.linkedin.com/" class="text-white me-4" target="_blank" rel="noopener">
        <img src="assets/linkedin-icon.png" alt="LinkedIn">
      </a>
      <a href="https://github.com/" class="text-white me-4" target="_blank" rel="noopener">
        <img src="assets/github-icon.png" alt="GitHub">
      </a>
    </div>
  </section>


  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="links-section">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold">Company name</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            Here you can use rows and columns to organize your footer content.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Products</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            <a href="#!" class="text-white">MDBootstrap</a>
          </p>
          <p>
            <a href="#!" class="text-white">MDWordPress</a>
          </p>
          <p>
            <a href="#!" class="text-white">BrandFlow</a>
          </p>
          <p>
            <a href="#!" class="text-white">Bootstrap Angular</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Useful links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p>
            <a href="#!" class="text-white">Your Account</a>
          </p>
          <p>
            <a href="#!" class="text-white">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!" class="text-white">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" class="text-white">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" />
          <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
          <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
          <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
          <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-3 copyright-section">
    © 2020 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
  </div>
  <!-- Copyright -->
</footer>
