<h2 class="d-flex align-items-center mb-4">
  <button (click)="viewHomePage()" class="btn btn-link text-dark fw-bold">
    <i class="bi bi-arrow-left fs-4 me-2"></i> <!-- Bootstrap Icons arrow-left -->
    Back to Home
  </button>
  <span class="ms-3">Product Details</span>
</h2>
<div *ngIf="selectedProduct" class="product-details-container mt-4">
  <div class="card">
    <img
      class="card-img-top"
      [src]="selectedProduct.image_url"
      alt="{{ selectedProduct.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ selectedProduct.name }}</h5>
      <p class="card-text">Price: {{ "$" + selectedProduct.price }}</p>
      <p class="card-text">Description: {{ selectedProduct.description }}</p>
    </div>
  </div>
</div>
