<h2 class="d-flex align-items-center mb-4">
  <h2 class="d-flex align-items-center mb-4">
    <button title="home" (click)="viewHomePage()" class="btn btn-link text-dark fw-bold">
      <i class="bi bi-arrow-left fs-4 me-2"></i>
      <i class="bi bi-house fs-4 me-2"></i>

    </button>

  </h2>
  <span class="ms-3">Product Details</span>
</h2>
<div *ngIf="selectedProduct" class="product-details-container mt-4">
  <div class="card">
    <img
      class="card-img-top"
      [src]="selectedProduct.image_url"
      alt="{{ selectedProduct.name }}"
    />
    <div class="card-body">
      <h5 class="card-title">{{ selectedProduct.name }}</h5>
      <p class="card-text">Price: {{ "$" + selectedProduct.price }}</p>
      <p class="card-text">Description: {{ selectedProduct.description }}</p>
      <button (click)="addtoCart(selectedProduct.id)" class="btn btn-success cart-btn">
        Add to Cart
      </button>
    </div>
  </div>
</div>

<!-- Display this message if no product is selected -->
<div *ngIf="!selectedProduct" class="mt-4">
  <p class="text-center">View a product to see its details.</p>
</div>
